@import "compass_twitter_bootstrap";
@import "compass_font_awesome";
@import "compass_twitter_bootstrap_responsive";
@import "pdf";

// Custom Styles

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, legend, label {
	color: #333333;
}

html, body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	height: 100%;
}

#home, #login, #view{
	padding-top: 80px;
	padding-bottom: 170px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: whiteSmoke;
	border-color:#E3E3E3;
	border-style:solid;
	border-width:1px 0;
	padding: 30px 20px;
}

#main-app{
	min-height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

#home{

	@media (max-width: 767px){
		.breadcrumb{
			font-size: 16px;
			line-height: 24px;
		}
	}

	#outerContainer{
		position: relative;
	}

	.nav-list{

		@media (max-width: 767px){
			li{

				a{
					line-height: 35px;
					font-size:20px;
					letter-spacing: 2px;
				}
			}
		}

		.nav-header{
			letter-spacing: 3px;
			font-size: 16px;
		}
	}
}

#login{
	@media (max-width: 767px){
		form{
			margin-left: 0px;
			padding: 0 20px;
		}
	}

	label{
		font-size: 20px;
	}

	input, button{
		height:40px;
		font-size: 24px;
		line-height: 27px;
	}

	.control-group{
		padding-bottom: 40px;
	}
}

#view{
	left: 50%;
	margin-left: -400px;

	@media (max-width: 767px){
		.offset1{
			margin-left: 0;
		}
	}
}

@media (max-width: 767px){
	.navbar-fixed-top, 
	.navbar-fixed-bottom{
		margin-left:0;
		margin-right:0;
	}

	footer{

		h5{
			font-size: 18px;
			line-height: 24px;			
		}

		p{
			font-size: 16px;
		}
	}
}