@import "compass_twitter_bootstrap";
@import "compass_font_awesome";

body {
	padding-top: 60px;
}

@import "compass_twitter_bootstrap_responsive";

// Custom Styles

h1, h2, h3, h4, h5, legend, label {
	color: #333333;
}

body {
	background: #ffffff;
}

#home, #login {
	margin:30px 0 220px;

	@media (max-width: 979px){
		margin-bottom: 0;
	}
}

#home{
	.nav-list{

		@media (max-width: 767px){
			li{

				a{
					line-height: 35px;
					font-size:20px;
					letter-spacing: 3px;
				}
			}
		}

		.nav-header{
			letter-spacing: 3px;
			font-size: 16px;
		}
	}
}

#login{
	@media (max-width: 767px){
		form{
			margin-left: 0px;
		}
	}

	label{
		font-size: 20px;
	}

	input, button{
		height:40px;
		font-size: 24px;
		line-height: 27px;
	}

	.control-group{
		padding-bottom: 40px;
	}
}