<div id="home" class="container-fluid">
	<div class="row-fluid" ng-show="deep.length">
		<div class="span12">
			<ul class="breadcrumb">
				<li ng-repeat="path in deep" class="{{isDirActive(path.url)}}">
					<a href="#/!/{{path.url}}">{{path.name}}</a> <span class="divider">/</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="library span6">
					<div class="view">
						<ul class="nav nav-list">
							<li class="nav-header">Learn</li>
							<li ng-repeat="folder in fields.folders">
								<a href="#/!/{{folder.path}}">
									<i class="icon-folder-close"></i>{{beautyName(folder.name)}}
								</a>
							</li>
							<li ng-repeat="file in fields.files" class="{{isSelected(file.path)}}">
								<a href="#/!/{{file.path}}">
									<i class="icon-file"></i>{{beautyName(file.fileName)}}
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="span6 well">
					<h3>{{beautyName(selected.fileName) || 'No file selected'}}</h3>
					<div ng-show="selected">
						<dt>Type</dt>
							<dd>{{selected.type}}</dd>
						<hr>
						<a class="btn btn-success" download="{{selected.fileName}}" href="/learn/{{selected.path}}" target="_blank"><i class="icon-download-alt icon-large"></i> Download</a>
						<a ng-show="isVisible(selected)" class="btn btn-info" href="#/{{selected.type}}/{{selected.path}}"><i class="icon-eye-open icon-large"></i> View Online</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="caption" id='instructBox'>
		<h5>Welcome, 
			<span>{{totalFiles}} book{{(totalFiles > 1 && 's') || ''}} online!</span>
		</h5>
		<p>This is the <strong>Onstar - Bosz</strong> learning center.</p>
		<p>First select the category, then select the topic, and finally, select the book and feed your mind!</p>
	</div>
</footer>